.Menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Description {
  width: 50%;
  margin: 20px;
}

@media screen and (max-width: 500px) {
  .Description {
    width: 90%;
  }
}

.Button {
  border: 1px solid #606060;
  color: #333333;
  background-image: linear-gradient(to bottom right, #e6e6e6, white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  width: 150px;
  border-radius: 3px;
  margin: 1.5px;
  padding: 8px 26px;
  font-size: 14pt;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

p {
  font-family: 'Work Sans', sans-serif;
}
