.Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 10px 5px 10px 5px;
  margin: 5px;
  height: 335px;
}

@media screen and (max-height: 640px) {
  .Board {
    height: 265px;
  }
}

.board-score {
  font-family: 'Work Sans', sans-serif;
  font-size: 24pt;
}