.Header {
  background-image: linear-gradient(to bottom right, white, #e6e6e6);
  height: 120px;
  padding: 12px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

@media screen and (max-height: 750px) {
  .Header {
    height: 80px;
  }
}

.Header-logo {
  height: 100%;
}