.Square {
  border: 1px solid #606060;
  background-color: white;
  border-radius: 3px;
  margin: 1.5px;
  padding: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

@media screen and (max-height: 640px) {
  .Square {
    padding: 15px;
  }
}

.blue {
  background-image: linear-gradient(to bottom right, #3397c9, #2d87b4);
}

.active {
  background-image: linear-gradient(to bottom right, #2db42d, #28a028);
}

.wrong {
  background-image: linear-gradient(to bottom right, #c93333, #b42d2d);
}