body {
  background-image: linear-gradient(to bottom right, #3397c9 , #2878a0);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

p {
  margin: 5px;
  font-size: 120%;
}

@media screen and (max-width: 500px) {
  p {
    font-size: 100%;
  }
}
